# Dependencies
/vendor
/node_modules

# Build artifacts
/public/hot
/public/storage
/public/build

# Environment files
.env
.env.backup
.env.production
.env.staging
.env.development
.env.local
!.env.example

# Storage & Cache (폴더 구조는 유지)
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/bootstrap/cache/*.php

# Logs
*.log
npm-debug.log*

/web_log/*
!/web_log/.gitignore

# IDE
/.fleet
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Laravel specific
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

